
* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.columns{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
}

.ant-card.ant-card-bordered.card {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  width: 275px;
  height: 120px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  border-radius: 10px;
}

.ant-card-body .card-body{
  padding-top: 0px;
}

.card:hover{
  border-color: red;
}

.task{
  font-weight: bold;
  font-size: large;
}

.card-top-row, .card-bottom-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px
}

.check-circle{
  font-size: 17px;
}

.column{
  background-color: yellow;
  width: 300px;
  height: 800px;
}

.column-header{
  display:flex;
  justify-content: space-between;
  gap: 10px;
  padding: 20px 20px;
}

.column-header-button{
  display:flex;
  flex-direction: row;
  gap: 10px;
}

.column-name{
  font-weight:bolder;
  font-size: large;
}

.column-card-area{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
}

.new-col-button{
  margin-top: 20px;
}

.modal-form{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap:10px;
}

.kanban-modal .ant-modal-content{
  width: 400px;
}